# 1 Manipulating using a list

In [1]:
# in this we are dealing with list so create a list
list =["Chadra", "Sai", "Jagadeesh", 2576208]

In [2]:
print(list)

['Chadra', 'Sai', 'Jagadeesh', 2576208]

In [3]:
# i) To add new elements to the end of the list

list.append("Day-1")
# using append to add an element in the last of the  list 

print(list)

['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']

In [4]:
# ii) To reverse the elements in the list

list.reverse()
# to reverse the elements in the list we used the reverse()

print(list)

['Day-1', 2576208, 'Jagadeesh', 'Sai', 'Chadra']

In [5]:
list.reverse()
# iii) To display the same list of elements multiple times


no_of_times = int(input("Enter the number of time to repeat"))

#to display the same list elements multiple times we need to use Loops or multiplication

for rep in range(no_of_times):
    print(list)

Enter the number of time to repeat5
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']

In [6]:
# iv) To concatenate two list
listA = [1, 2, 3, 4, 5]
listB = ['a', 'b', 'c', 'd']

# to concatinate the two lists we use (+) operator and also expand()
result_list = listA+listB

# listA.expend(listB)

print(result_list)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [7]:
# v) To sort the elements in the list in ascending order

listC = [100, 32, 54, 24, 76, 43, 55]

listC.sort() 
# to sort the list we use sort() fun 
print(listC)

[24, 32, 43, 54, 55, 76, 100]

#    # 2 Write a python program to do in the tuples

In [8]:
# In this we are using tuples
tup = ("ram", "sita", "lakshman", "hanuma")
print(tup)

('ram', 'sita', 'lakshman', 'hanuma')

In [9]:
# i) Manipulate using tuples
tup = tup + ("Ayodhya",) 
#used tuple concatenate to add an element in to the tuple
print(tup)

('ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya')

In [10]:
# ii) To add new elements to the end of the tuples
tup2 = ("krishna", "Radha", "balram", "Yashoda")
tup = tup + tup2
print(tup)

('ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda')

In [11]:
# iii) revese the elements in it
print(tup[::-1])
# we used indexing to reverse the elements

('Yashoda', 'balram', 'Radha', 'krishna', 'Ayodhya', 'hanuma', 'lakshman', 'sita', 'ram')

In [12]:
# iv) to display the elements of the same tuple times
rep = int(input("Enter the num of times"))
# using loops to repeat or we can use multiplication operator

new_tup = tup*rep
print(new_tup)

# for i in range(rep):
#     print(tup)

Enter the num of times5
('ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda')

In [13]:
# v) to concatenate two tuples
fruits = ("Apple", "Banana", "Strawberry")
vegetable = ("Carrot", "Beetroot", "lemon")

# using + operator to concatenate the two tuples
grocery_list = fruits + vegetable

print(grocery_list)

('Apple', 'Banana', 'Strawberry', 'Carrot', 'Beetroot', 'lemon')

In [14]:
# vi) To sort the elements in the e list in ascending order
items = []
for i in range (len(grocery_list)):
    items.append(grocery_list[i])
    
items.sort()
print(items)

['Apple', 'Banana', 'Beetroot', 'Carrot', 'Strawberry', 'lemon']

# 3 Write a python program to implement the following using list

In [15]:
# i) create a list with integers (min 10 numbers)

nums = [12, 34, 32, 43, 67, 53, 99, 78, 102, 83]

print(nums)

[12, 34, 32, 43, 67, 53, 99, 78, 102, 83]

In [16]:
# ii) how to display the last number in the list

#  we can access the last number or element in the list bu using negative indexing
print(nums[-1])

83

In [17]:
# iii) command for displaying the values from the list[0:4]

#  we use slicing concept with [start and end) indices 

print(nums[1:5])

[34, 32, 43, 67]

In [18]:
# iv) command fro diaplaying the values from the list[2:]
# using only starting index the end index by default taken as last index of the list

print(nums[2:])

[32, 43, 67, 53, 99, 78, 102, 83]

In [19]:
# v) commmand fro displaying the values from the list[:6]
# given only the last index by default the slice fun takes first index as zeroth place

print(nums[:6])

[12, 34, 32, 43, 67, 53]

# 4 Write a python program: tuple1 = (10, 50, 20, 40, 30)

In [20]:
# i) To display the elements 10 and 50 from tuple1
tuple1 =  (10, 50, 20, 40, 30)
# using indexing we can access the elements from the tuple
print(tuple1[:2])

(10, 50)

In [21]:
# ii) To display the length of a tuple1
# we use len function to get the length of the tuple
print(len(tuple1))

5

In [22]:
# iii) To find the minimum element from tuple1
#  we can use min 

print(min(tuple1))

10

In [23]:
# iv) To add all elements in the tuple1
# use the sum function to add all the elements in tuple
print(sum(tuple1))

150

In [24]:
# v) To display the same tuple multiple times
rep = int(input("enter repetations count"))
print(tuple1*rep)

enter repetations count5
(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5 Write a python program

In [25]:
movie = "Rotten Tomatoes are the less sail items in this year"

# i) To calculatee the length of a string
#  to calculate length we use len 

print(len(movie))

52

In [26]:
# ii) To revrse words in a string
# to reverse the words in a string 
# we can convert the string in to list by using split then reverse

words = movie.split()
rev_words = words[::-1]
print(rev_words)

['year', 'this', 'in', 'items', 'sail', 'less', 'the', 'are', 'Tomatoes', 'Rotten']

In [27]:
# iii) To display the same string multiple times
# using loop or mutiplication operator

print((movie+"\n")*5)

Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year

In [28]:
# iv) TO concatenate two strings
#  using  + operator to concatenate the two strings

movie = "bahubali"
tag = " the conclusion"

movie_title = movie+tag
print(movie_title)

bahubali the conclusion

In [29]:
# v) Str1 = "South India", Using string slicing to display "India"
Str1 = "South India"
print(Str1[6:])

India

# 6 Perform the following

In [30]:
# i) Create the Dictionary

player = {"naem": "MSD", "Age": 45, "Sport":("cricket", "football"), "contry": "India"}
print(player)

{'naem': 'MSD', 'Age': 45, 'Sport': ('cricket', 'football'), 'contry': 'India'}

In [31]:
# ii) Accessing values and keys in the Dictionary
# using loop to get the key and value pair from the dictionary
for i, j in player.items():
    print(f"{i}:{j}")

naem:MSD
Age:45
Sport:('cricket', 'football')
contry:India

In [32]:
# iii) updating the dictionary using a function
# by using a function to update the key and value in the player

def update_player(player, i, j):
    player[i] = j
    
update_player(player, "Spouse", "Sakshi D")

print(player)

{'naem': 'MSD', 'Age': 45, 'Sport': ('cricket', 'football'), 'contry': 'India', 'Spouse': 'Sakshi D'}

In [33]:
# iv) clear and delete the dictionary
player_details = player.copy()

player.clear()

del player

# print(player)
print(player_details)

{'naem': 'MSD', 'Age': 45, 'Sport': ('cricket', 'football'), 'contry': 'India', 'Spouse': 'Sakshi D'}

# 7 Python program to insert a number to any position in a list

In [34]:
#  for this we can use insert to insert an element to the list at any position
nums = [12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]

print(nums)

nums.insert(3, 1000)
print(nums)

[12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]
[12, 34, 32, 1000, 43, 67, 53, 99, 78, 102, 83, 56, 43]

# 8 Pyton program to delete an element from a list by index

In [35]:
# to delete an element from a specified pos or index we can use poop(index) or del

print(nums)

nums.pop(4)

print(nums)

del nums[5]
print(nums)

[12, 34, 32, 1000, 43, 67, 53, 99, 78, 102, 83, 56, 43]
[12, 34, 32, 1000, 67, 53, 99, 78, 102, 83, 56, 43]
[12, 34, 32, 1000, 67, 99, 78, 102, 83, 56, 43]

# 9 Write a program to display the numbers from 1 to 100

In [36]:
# here we can use loop from 1 to 100 
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10 write a python program to find the sum of all items in a tuple

In [37]:
# we can use sum to calculate the summation of all items in a tuple

values = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
print(sum(values))

100

# 11 create a dictionary containing three lambda functions square, cube and square root

In [38]:
# i) E.g dict = {"Square":function for squaring, "Cube":function for cube,"Squareroot":function for square root}
#  we need to create the function for this

import math

# Create a dictionary with lambda functions
calculate = {
    "Square": lambda x: x**2,
    "Cube": lambda x: x**3,
    "Squareroot": lambda x: math.sqrt(x)
}

# Test the functions
number = int(input("Enter a number: "))
sq_res = calculate["Square"](number)
cb_res = calculate["Cube"](number)
sqrt_res = calculate["Squareroot"](number)

# Print the results
print(f"Square of {number} is {sq_res}")
print(f"Cube of {number} is {cb_res}")
print(f"Squareroot of {number} is {sqrt_res}")

Enter a number: 25
Square of 25 is 625
Cube of 25 is 15625
Squareroot of 25 is 5.0

# 12 A list of words is given.

In [39]:
# find teh words from the list have their second character in uppercase 
ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)
        
print(ls)
print(res)

['hello', 'Dear', 'hOw', 'ARe', 'You']
['hOw', 'ARe']

# 13 A dictionary of names and their weights on earth is given

In [41]:
# Find how much they will weigh on the moon .
# Use map and lambda functions 
# formula: wMoon = (wEarth * GMoon)/GEarth
# i) Weight of people in kg: WeightOnEarth = {"john":45, "shelly":65, "marry":35}
# ii) Gravational force on the Moon: 1.652 m/s2 --> GMoon = 1.622
# iii) Gravitational force on the Earth: 9.81 m/s2 --> GEarth = 9.81

In [47]:
WeightOnEarth = {"John":45, "Shelly":65, "Marry":35} #weight on earth

GEarth = 9.81 #gravitational force on the earth
GMoon = 1.622 #gravitional force on the moon

WeightOnMoon = {name:(weight*GMoon)/GEarth for name, weight in WeightOnEarth.items()}

for name, MoonWeight in WeightOnMoon.items():
    print(f"{name}:{MoonWeight:.2f}kg") #.2f means flating point

John:7.44kg
Shelly:10.75kg
Marry:5.79kg

# CONTROL STRUCTURES

# 1) Write a python program to find N prime numbers

In [1]:
# a function to evaluate whether the given parameter is a prime or not
def isprime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True


N = int(input("Enter a number: "))

prime_nums=[]
for i in range(2, N):
    if isprime(i):
       prime_nums.append(i)
print(prime_nums)

Enter a number: 70
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]

# 2) Write the python code that calculates the salary of an employee

In [1]:
# prompt the user to enter the Basic Salary, HRA, TA and DA
# Add these componenets to calculate the Gross Salary
# Also, deduct 10% of salary from gross salary to be paid as tax
# And display gross minus tax as net salary

In [3]:
Basic_sal = float(input("Enter the Base Salary"))
HRA = int(input("Enter the HRA"))
TA = int(input("Enter the TA"))
DA = int(input("Enter the DA"))

Gross_salary = Basic_sal + float(HRA) + float(TA) + float(DA)

net_salary = Gross_salary - (float(Basic_sal)*0.1)

print("The net salary of an employee is after " + str(float(Basic_sal)*0.1)+ " tax deduction is: "+str(Gross_salary))

Enter the Base Salary27000.80
Enter the HRA7000
Enter the TA2500
Enter the DA6250
The net salary of an employee is after 2700.08 tax deduction is: 42750.8

# 3) Write a python program to search for a sttring in the given list

In [6]:
abt_python = "Python: A versatile, high-level programming language known for its simplicity and readability"
# to search a work in python we need to use either (in) or find() method

word1 = "versatile"
word2 = "c++"

# unsing in 
if word1 in abt_python:
    print(f"'{word1}', found in abt_pthon")
else:
    print(f"'{word1}', not found in abt_pthon")
    
# unsig find()
ind = abt_python.find(word2)

if(ind != -1):
    print(f"'{word2}', found in abt_pthon")
else:
    print(f"'{word2}', not found in abt_pthon")

'versatile', found in abt_pthon
'c++', not found in abt_pthon

# 4) write a python function that accepts a string and calculate the number of uppercase and lowercase letters

In [14]:
def letter_count(name):
    upper_count =0
    lower_count =0
    for i in name:
        if i.isupper():
            upper_count += 1
        elif i.islower():
            lower_count += 1
            
    print("\nUpper case letter count is: "+str(upper_count))
    print("\nLower case letter count is: "+str(lower_count))
            
            
name = input("Enter a string with upper and lower case letters\n\n")
letter_count(name)

Enter a string with upper and lower case letters

ThIs Is A StRiNg WiTh MiXeD CaSe LeTtErS.

Upper case letter count is: 18

Lower case letter count is: 15

# 5) write a program to display the sum of odd numbers and evem numbers that fall between 12 and 37

In [7]:
# we have to take two seperate variables that hold odd_val_sum and even_val_sum
even_sum = 0
odd_sum =0
for i in range(12, 38):
    if i%2 ==0:
        even_sum += i
    else:
        odd_sum += i
        
print("Even sum is: "+ str(even_sum))
print("Odd sum is: "+ str(odd_sum))

Even sum is: 312
Odd sum is: 325

# 6) write a python program to print the table of any number

In [15]:
num = int(input("Enter a number : "))
print("\nprinting "+str(num)+" table \n")
int(num)

for i in range(1, 11):
    res = num*i
    print(f"{num} * {i} = {res}\n")

Enter a number : 5

printing 5 table

5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

5 * 6 = 30

5 * 7 = 35

5 * 8 = 40

5 * 9 = 45

5 * 10 = 50

# 7) write a pytho program to sum the first 10 prime numbers

In [19]:
#  for this we have take frist 10 prime numbers and sum all of them 

def isprime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

result =0
primes = []
i =2

while len(primes) < 10:
    if isprime(i):
        primes.append(i)
        result += i
    i += 1

print(primes)
print(f"The sum of first 10 primes is : {result}")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
The sum of first 10 primes is : 129

# 8) write a python program to implement arithemetic operations using nested if statement

In [27]:
# using nested if conditions 
def calculator(num1, optr, num2):
    result = 0
    if optr == "+":
        result = num1+num2
    elif optr == "-":
        result = num1-num2
    elif optr == "*":
        result = num1*num2
    elif optr == "/":
        if num2!=0:
            result = num1/num2
        else:
            result = "undefined"
            
    else:
        result = "Unknown Symbol Entered"
    
    return result

num1 = int(input("Enter the first number\n"))
optr = input("Enter the operator\n")
num2 = int(input("Enter the second number\n"))

ans = calculator(num1, optr, num2)
print(f"{num1} {optr} {num2} is : {ans}\n")

Enter the first number
25
Enter the operator
*
Enter the second number
3
25 * 3 is : 75

# 9) write a python program to take the temperature in celsius and convert it into fahrenheit

In [37]:
temp = int(input("enter the celsius degrees"))
fahrenheit = (temp * 9/5) + 32
print(f"{temp} celsius concerted in to {fahrenheit} fahrenheit temperaure")

enter the celsius degrees43
43 celsius concerted in to 109.4 fahrenheit temperaure

# 10) write a python program

In [35]:
# to find a maximum and minum number in a list 
# without using inbuilt functions

nums = [10, 20, 442, 38, 91, 5, 25, 87, 90, -62]
maxi = 0
mini = 0

for i in nums:
    if maxi<i:
        maxi = i
    if mini >i:
        mini = i

print(f"The maximum in the list is: {maxi}")
print(f"The minimum in the list is: {mini}")

The maximum in the list is: 442
The minimum in the list is: -62

# 11) write a program in python

In [36]:
# to print out the number of seconds in 30-day month 30 days,
# 24 hours in a day , 60 minutes per day, 60 sec in a minute

days_a_month = 30
hours_a_day = 24
mins_an_hour = 60
secs_a_min = 60

result = days_a_month * hours_a_day * mins_an_hour * secs_a_min
print(f"secons in 30-day month is : {result}")

secons in 30-day month is : 2592000

# 12) write a python program to print number of seconds in a year

In [38]:
months = 30
days = 24
hours = 24
mins = 60
secs = 60

result = months * days * hours * mins * secs
print(f"the number of seconds in a year is : {result}")

the number of seconds in a year is : 62208000

# 13) A high-speed train can travel at an average speed of 150mph
how long will it take a train travelling at this speed to travel from 
london to glasgow which is 414 miles away

In [40]:
# as we know the formula speed = distance/ time
#  as we need time then time = distance/speed
speed = 150
distance = 414

time = distance/speed

print(f"the time taken to travel from londom to glasgow is {time:.3f}")

the time taken to travel from londom to glasgow is 2.760

# 14) write a python program that defines a variable called days_in_each_school_year
and assign 192 to the variable 
the program should then print out the total hours that you spend in school 
from year 7 to 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [41]:
days_in_each_school_year = 192
no_of_years = 11-7
no_of_hours = 6

total_hours = no_of_years * days_in_each_school_year * no_of_hours

print(f"Total hours spent in school from year 7 - year 11 is {total_hours} ")

Total hours spent in school from year 7 - year 11 is 4608

# 15) If the age of Ram, Sam and Khan are input through the keyboard
write a python program to determine the eldest and youngest of the three

In [45]:
ram = int(input("Enter the age of Ram "))
sam = int(input("Enter the age of Sam "))
khan = int(input("Enter the age of Khan "))

# using min and max inbuilt functions to solve the problem
elder = max(ram, sam, khan)
younger = min(ram, sam, khan)

print(f"\nElder of the three is {elder}")
print(f"\nYounger of the three is {younger}")

Enter the age of Ram 23
Enter the age of Sam 19
Enter the age of Khan 21

Elder of the three is 23

Younger of the three is 19

# 16) write a python program to rotate a list by right n times
with and without slicing techinique

In [47]:
# unsing slicing technique
def slicing_rotate(lst, n):
    n = n % len(lst) 
    return lst[-n:] + lst[:-n]

# without slicing
def non_slicing_rotate(lst, n):
    n = n % len(lst)  
    rotated_list = [0] * len(lst)
    for i in range(len(lst)):
        rotated_list[(i + n) % len(lst)] = lst[i]
    return rotated_list


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


n = int(input("Enter num of rotations needed: "))

ans1 = slicing_rotate(nums, n)
print("Rotated using slicing:", ans1)

ans2 = slicing_rotate(nums, n)
print("Rotated without slicing:", ans2)

Enter num of rotations needed: 4
Rotated using slicing: [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]
Rotated without slicing: [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

# 17) Python program to print the pattersn given below

# i) its  a pascal triangle the value

In [52]:

# is dependent on the summation of above two cells

def pattern1(num_rows):
    ans = []
    for i in range(num_rows):
        row = [1]  
        if i > 0:
            for j in range(1, i):
                element = ans[i - 1][j - 1] + ans[i - 1][j]
                row.append(element)
            row.append(1) 
        ans.append(row)

    return ans

def print_(ans):
    max_width = len(' '.join(map(str, ans[-1])))  
    for row in ans:
        formatted_row = ' '.join(map(str, row))
        print(formatted_row.center(max_width))

num_rows = int(input("Enter the number of rows "))
print("\n")
triangle = pattern1(num_rows)
print_(triangle)

Enter the number of rows 9


          1
         1 1
        1 2 1
       1 3 3 1
      1 4 6 4 1
    1 5 10 10 5 1
   1 6 15 20 15 6 1
 1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1

# ii) Given pattern2 is a right angle triangle

In [59]:
num = int(input("ENter the number pf rows "))
print("\n")

for i in range(0, num):
    for j in range(0, i):
        print("* ", end="")
    print(" ")

ENter the number pf rows 6



*
* *
* * *
* * * *
* * * * *

# iii) Given pattern is a pyramid with spaces and asterisks

In [66]:
num = int(input("Enter the number of rows "))
print("\n")

# for i in range(1, num + 1):
#     for j in range(1, num - i+1 ):
#         print(" ", end="")

#     for k in range(1, i):
#         print("*", end="")

#     print()
    

for i in range(num):
    print(" " * (num - i - 1) + "* " * (i + 1))

Enter the number of rows 7


      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# iv) right angle triangle with a string

In [75]:
title = input("Enter a title : ")

for i in range(len(title)):
    print(title[:i+1])

Enter a title : Mphasis!
M
Mp
Mph
Mpha
Mphas
Mphasi
Mphasis
Mphasis!