# 1 Manipulating using a list

In [1]:
# in this we are dealing with list so create a list
list =["Chadra", "Sai", "Jagadeesh", 2576208]

In [2]:
print(list)

['Chadra', 'Sai', 'Jagadeesh', 2576208]

In [3]:
# i) To add new elements to the end of the list

list.append("Day-1")
# using append to add an element in the last of the  list 

print(list)

['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']

In [4]:
# ii) To reverse the elements in the list

list.reverse()
# to reverse the elements in the list we used the reverse()

print(list)

['Day-1', 2576208, 'Jagadeesh', 'Sai', 'Chadra']

In [5]:
list.reverse()
# iii) To display the same list of elements multiple times


no_of_times = int(input("Enter the number of time to repeat"))

#to display the same list elements multiple times we need to use Loops or multiplication

for rep in range(no_of_times):
    print(list)

Enter the number of time to repeat5
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']
['Chadra', 'Sai', 'Jagadeesh', 2576208, 'Day-1']

In [6]:
# iv) To concatenate two list
listA = [1, 2, 3, 4, 5]
listB = ['a', 'b', 'c', 'd']

# to concatinate the two lists we use (+) operator and also expand()
result_list = listA+listB

# listA.expend(listB)

print(result_list)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [7]:
# v) To sort the elements in the list in ascending order

listC = [100, 32, 54, 24, 76, 43, 55]

listC.sort() 
# to sort the list we use sort() fun 
print(listC)

[24, 32, 43, 54, 55, 76, 100]

#    # 2 Write a python program to do in the tuples

In [8]:
# In this we are using tuples
tup = ("ram", "sita", "lakshman", "hanuma")
print(tup)

('ram', 'sita', 'lakshman', 'hanuma')

In [9]:
# i) Manipulate using tuples
tup = tup + ("Ayodhya",) 
#used tuple concatenate to add an element in to the tuple
print(tup)

('ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya')

In [10]:
# ii) To add new elements to the end of the tuples
tup2 = ("krishna", "Radha", "balram", "Yashoda")
tup = tup + tup2
print(tup)

('ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda')

In [11]:
# iii) revese the elements in it
print(tup[::-1])
# we used indexing to reverse the elements

('Yashoda', 'balram', 'Radha', 'krishna', 'Ayodhya', 'hanuma', 'lakshman', 'sita', 'ram')

In [12]:
# iv) to display the elements of the same tuple times
rep = int(input("Enter the num of times"))
# using loops to repeat or we can use multiplication operator

new_tup = tup*rep
print(new_tup)

# for i in range(rep):
#     print(tup)

Enter the num of times5
('ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda', 'ram', 'sita', 'lakshman', 'hanuma', 'Ayodhya', 'krishna', 'Radha', 'balram', 'Yashoda')

In [13]:
# v) to concatenate two tuples
fruits = ("Apple", "Banana", "Strawberry")
vegetable = ("Carrot", "Beetroot", "lemon")

# using + operator to concatenate the two tuples
grocery_list = fruits + vegetable

print(grocery_list)

('Apple', 'Banana', 'Strawberry', 'Carrot', 'Beetroot', 'lemon')

In [14]:
# vi) To sort the elements in the e list in ascending order
items = []
for i in range (len(grocery_list)):
    items.append(grocery_list[i])
    
items.sort()
print(items)

['Apple', 'Banana', 'Beetroot', 'Carrot', 'Strawberry', 'lemon']

# 3 Write a python program to implement the following using list

In [15]:
# i) create a list with integers (min 10 numbers)

nums = [12, 34, 32, 43, 67, 53, 99, 78, 102, 83]

print(nums)

[12, 34, 32, 43, 67, 53, 99, 78, 102, 83]

In [16]:
# ii) how to display the last number in the list

#  we can access the last number or element in the list bu using negative indexing
print(nums[-1])

83

In [17]:
# iii) command for displaying the values from the list[0:4]

#  we use slicing concept with [start and end) indices 

print(nums[1:5])

[34, 32, 43, 67]

In [18]:
# iv) command fro diaplaying the values from the list[2:]
# using only starting index the end index by default taken as last index of the list

print(nums[2:])

[32, 43, 67, 53, 99, 78, 102, 83]

In [19]:
# v) commmand fro displaying the values from the list[:6]
# given only the last index by default the slice fun takes first index as zeroth place

print(nums[:6])

[12, 34, 32, 43, 67, 53]

# 4 Write a python program: tuple1 = (10, 50, 20, 40, 30)

In [20]:
# i) To display the elements 10 and 50 from tuple1
tuple1 =  (10, 50, 20, 40, 30)
# using indexing we can access the elements from the tuple
print(tuple1[:2])

(10, 50)

In [21]:
# ii) To display the length of a tuple1
# we use len function to get the length of the tuple
print(len(tuple1))

5

In [22]:
# iii) To find the minimum element from tuple1
#  we can use min 

print(min(tuple1))

10

In [23]:
# iv) To add all elements in the tuple1
# use the sum function to add all the elements in tuple
print(sum(tuple1))

150

In [24]:
# v) To display the same tuple multiple times
rep = int(input("enter repetations count"))
print(tuple1*rep)

enter repetations count5
(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5 Write a python program

In [25]:
movie = "Rotten Tomatoes are the less sail items in this year"

# i) To calculatee the length of a string
#  to calculate length we use len 

print(len(movie))

52

In [26]:
# ii) To revrse words in a string
# to reverse the words in a string 
# we can convert the string in to list by using split then reverse

words = movie.split()
rev_words = words[::-1]
print(rev_words)

['year', 'this', 'in', 'items', 'sail', 'less', 'the', 'are', 'Tomatoes', 'Rotten']

In [27]:
# iii) To display the same string multiple times
# using loop or mutiplication operator

print((movie+"\n")*5)

Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year
Rotten Tomatoes are the less sail items in this year

In [28]:
# iv) TO concatenate two strings
#  using  + operator to concatenate the two strings

movie = "bahubali"
tag = " the conclusion"

movie_title = movie+tag
print(movie_title)

bahubali the conclusion

In [29]:
# v) Str1 = "South India", Using string slicing to display "India"
Str1 = "South India"
print(Str1[6:])

India

# 6 Perform the following

In [30]:
# i) Create the Dictionary

player = {"naem": "MSD", "Age": 45, "Sport":("cricket", "football"), "contry": "India"}
print(player)

{'naem': 'MSD', 'Age': 45, 'Sport': ('cricket', 'football'), 'contry': 'India'}

In [31]:
# ii) Accessing values and keys in the Dictionary
# using loop to get the key and value pair from the dictionary
for i, j in player.items():
    print(f"{i}:{j}")

naem:MSD
Age:45
Sport:('cricket', 'football')
contry:India

In [32]:
# iii) updating the dictionary using a function
# by using a function to update the key and value in the player

def update_player(player, i, j):
    player[i] = j
    
update_player(player, "Spouse", "Sakshi D")

print(player)

{'naem': 'MSD', 'Age': 45, 'Sport': ('cricket', 'football'), 'contry': 'India', 'Spouse': 'Sakshi D'}

In [33]:
# iv) clear and delete the dictionary
player_details = player.copy()

player.clear()

del player

# print(player)
print(player_details)

{'naem': 'MSD', 'Age': 45, 'Sport': ('cricket', 'football'), 'contry': 'India', 'Spouse': 'Sakshi D'}

# 7 Python program to insert a number to any position in a list

In [34]:
#  for this we can use insert to insert an element to the list at any position
nums = [12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]

print(nums)

nums.insert(3, 1000)
print(nums)

[12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]
[12, 34, 32, 1000, 43, 67, 53, 99, 78, 102, 83, 56, 43]

# 8 Pyton program to delete an element from a list by index

In [35]:
# to delete an element from a specified pos or index we can use poop(index) or del

print(nums)

nums.pop(4)

print(nums)

del nums[5]
print(nums)

[12, 34, 32, 1000, 43, 67, 53, 99, 78, 102, 83, 56, 43]
[12, 34, 32, 1000, 67, 53, 99, 78, 102, 83, 56, 43]
[12, 34, 32, 1000, 67, 99, 78, 102, 83, 56, 43]

# 9 Write a program to display the numbers from 1 to 100

In [36]:
# here we can use loop from 1 to 100 
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10 write a python program to find the sum of all items in a tuple

In [37]:
# we can use sum to calculate the summation of all items in a tuple

values = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
print(sum(values))

100

# 11 create a dictionary containing three lambda functions square, cube and square root

In [38]:
# i) E.g dict = {"Square":function for squaring, "Cube":function for cube,"Squareroot":function for square root}
#  we need to create the function for this

import math

# Create a dictionary with lambda functions
calculate = {
    "Square": lambda x: x**2,
    "Cube": lambda x: x**3,
    "Squareroot": lambda x: math.sqrt(x)
}

# Test the functions
number = int(input("Enter a number: "))
sq_res = calculate["Square"](number)
cb_res = calculate["Cube"](number)
sqrt_res = calculate["Squareroot"](number)

# Print the results
print(f"Square of {number} is {sq_res}")
print(f"Cube of {number} is {cb_res}")
print(f"Squareroot of {number} is {sqrt_res}")

Enter a number: 25
Square of 25 is 625
Cube of 25 is 15625
Squareroot of 25 is 5.0

# 12 A list of words is given.

In [39]:
# find teh words from the list have their second character in uppercase 
ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)
        
print(ls)
print(res)

['hello', 'Dear', 'hOw', 'ARe', 'You']
['hOw', 'ARe']

# 13 A dictionary of names and their weights on earth is given

In [41]:
# Find how much they will weigh on the moon .
# Use map and lambda functions 
# formula: wMoon = (wEarth * GMoon)/GEarth
# i) Weight of people in kg: WeightOnEarth = {"john":45, "shelly":65, "marry":35}
# ii) Gravational force on the Moon: 1.652 m/s2 --> GMoon = 1.622
# iii) Gravitational force on the Earth: 9.81 m/s2 --> GEarth = 9.81

In [47]:
WeightOnEarth = {"John":45, "Shelly":65, "Marry":35} #weight on earth

GEarth = 9.81 #gravitational force on the earth
GMoon = 1.622 #gravitional force on the moon

WeightOnMoon = {name:(weight*GMoon)/GEarth for name, weight in WeightOnEarth.items()}

for name, MoonWeight in WeightOnMoon.items():
    print(f"{name}:{MoonWeight:.2f}kg") #.2f means flating point

John:7.44kg
Shelly:10.75kg
Marry:5.79kg

# CONTROL STRUCTURES

# 1) Write a python program to find N prime numbers

In [1]:
# a function to evaluate whether the given parameter is a prime or not
def isprime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True


N = int(input("Enter a number: "))

prime_nums=[]
for i in range(2, N):
    if isprime(i):
       prime_nums.append(i)
print(prime_nums)

Enter a number: 70
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]